body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

@keyframes cambiocolor {
    0%, 100% { --color: purple; }
    25% { --color: pink;}
    50% { --color: red; }
    75% { --color:  purple; }
}

.cora {
    --tamaño: 150px;
    --color: purple; 
    height: var(--tamaño);
    width: var(--tamaño);
    background: var(--color);
    transform: rotate(45deg);
    animation: heart .5s infinite alternate ease, cambiocolor 15s infinite;
    position: relative;  
}

.cora p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 20px;
    white-space: nowrap;
    z-index: 1;
}

.cora::before, .cora::after{
    content:"";
    display: block;
    border-radius: 50%;
    height: var(--tamaño);
    width: var(var(--tamaño));
    background: var(--color);
    position: absolute; 
}

.cora::before{
    transform: translatev(-75%px); 
}
.cora::after{
    transform: translatex(-75%);
}

@keyframes heart {
    from {
        transform: scale(1.5) rotate(45deg);
    }
}